django==5.0.6                                   # famous web framework
confluent-kafka[avro, schema-registry]==2.4.0
bump-my-version==0.24.1                         # for making releases
ruff==0.4.8                                     # speed of light linter
setuptools==70.0.0                              # without it PyCharm fails to index packages inside the Docker container
