-r requirements-ci.txt
confluent-kafka[avro, schemaregistry]==2.13.0
django==6.0.1
django-temporalio==1.4.0
ruff==0.14.10
setuptools==80.9.0  # without it PyCharm fails to index packages inside the Docker container
